<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Elder Scrolls</title>
  <link rel="stylesheet" href="/assets/app.css" type="text/css" />
</head>
<body>
  <h1>Hello</h1>
</body>
</html>
